.poster {
  max-width: 300px;
}
.poster:hover {
  cursor: pointer;
  position: relative;
  .img {
    box-shadow: 0 0 20px black;
  }
  .title,
  .subtitle {
    display: flex;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
  }
}
.img {
  width: 100%;
  height: 450px;
  margin-bottom: 16px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    width: auto;
    height: 100%;
  }
}
.block {
  background-color: #f5f5f8;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px 0 0 0;
}
.genre {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 4px;
  color: #141c24;
}
.country {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #141c24;
}
.title {
  width: 100%;
  text-wrap: wrap;
  color: #141c24;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subtitle {
  width: 100%;
  text-wrap: wrap;
  color: #637083;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
