.card:hover {
  cursor: pointer;
  position: relative;
  .img {
    box-shadow: 0 0 20px black;
  }
  .title,
  .subtitle {
    display: flex;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
  }
}
.picture {
  position: relative;
}
.img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3 / 4;
  margin-bottom: 16px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    width: auto;
    height: 100%;
  }
}
.picture > svg {
  position: absolute;
  top: 3px;
  right: 5px;
}
.inf {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.title {
  width: 100%;
  text-wrap: wrap;
  color: #141c24;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time,
.calor {
  text-wrap: wrap;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 1.3;
  padding: 10px;
}
.time {
  border-radius: 0 20px 0 20px;
}
.calor {
  border-radius: 20px 0 20px 0;
}
