.header{
    width: 100%;
    border-bottom: 1px solid #82bd69;
}
.container{
    max-width: 1360px;
    display: flex;
    align-items: center;
    height: 120px;
    padding:0 40px;
    margin:0 auto;
    justify-content: space-between;
    @media (max-width:1019px){
        height: 100px;
    }
    @media (max-width:767px){
        height: 80px;
        justify-content: center;
    }
}
.img{
    height: 100px;
    width: auto;
    @media (max-width:1019px){
        height: 80px;
    }
    @media (max-width:767px){
        display: none;
    }
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}