* {
  margin: 0;
  padding: 0;
}
body {
  color: #344051;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}
a {
  color: #344051;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
a:hover {
  color: #9534d2;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
