.poster {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  padding: 0 30px;
  margin: 0 auto 48px auto;
}
.btnBack{
  color: #637083;
  width:80px;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
} 
.img {
  min-width: 300px;
  max-width: 300px;
  width: 100%;
  height: 450px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  img {
    width: auto;
    height: 100%;
  }
}
.block {
  background-color: #f5f5f8;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px 0 0 0;
}
.genre {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 4px;
  color: #141c24;
}
.country {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #141c24;
}
.inf {
  display: flex;
  flex-direction: column;
}
.title {
  text-wrap: wrap;
  color: #141c24;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 4px;
}
.subtitle {
  color: #637083;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 16px;
}
.text {
  color: #344051;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 16px;
}
.span {
  font-weight: 700;
}
.description {
  text-wrap: wrap;
  color: #344051;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
